### Create SQL Table

The script in this notebook would create an SQL Table using the excel file connected to pandas

In [1]:
import mysql_funcs as myf
import pandas as pd
import numpy as np
import sqlalchemy as sqa

In [2]:
# Establish server connection for mysql_funcs
import getpass as gp
passkey = gp.getpass()
connection = myf.create_server_connection('localhost', 'root', passkey)

MySQL Database connection successful

In [3]:
# Establish connection for sqlalchemy
url = f'mysql://root:{passkey}@localhost/buyplus_sales'

engine = sqa.create_engine(url,echo=True)

In [4]:
# Create Database
create_database_query = "CREATE DATABASE if not exists buyplus_sales"
myf.create_database(connection, create_database_query)

Database created successfully

In [5]:
#Connect to Database
connection = myf.create_db_connection("localhost",'root',passkey,'buyplus_sales')

MySQL Database connection successful

In [6]:
query = "SELECT * FROM sales_data"
myf.read_query(connection,query)

Query Successful

[]

In [7]:
df = pd.read_excel("C:\\Users\\kevez\\OneDrive\\Documents\\COMPANIES\\BUYPLUS - PONITEC\\DAILLY SALES\\MAY 2022\\Sales Data - 24MAY2022.xlsx")
df.head()

,DATE,ITEMCODE,DESCRIPTION,QTY,PRICE,DISCOUNT,VAT,AMOUNT,PROFIT,VALUATION,...,INV,IGROUP,CUSTOMERCODE,BRANCHNICKNAME,SUPPLIERCODE,SUPPLIER,PROCESSBY,ORDERBY,SALESPOINT,PARTICULAR
0,May 24 2022 12:53P,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117563,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,RUTH,RUTH,server,9756
1,May 24 2022 12:42P,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,2.0,210.0,0.0,0,420.0,95.00,325.00,...,117556,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,928
2,May 24 2022 11:51A,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,6.0,210.0,0.0,0,1260.0,285.00,975.00,...,117514,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,9364
3,May 24 2022 11:31A,'5449000143419,SCHWEPPES PINEAPPLE CAN 330CL,1.0,210.0,0.0,0,210.0,47.50,162.50,...,117502,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,NaN
4,May 24 2022 11:15A,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117492,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255 entries, 0 to 2254
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            2255 non-null   object
 1   ITEMCODE        2255 non-null   object
 2   DESCRIPTION     2255 non-null   object
 3   QTY             2255 non-null   float64
 4   PRICE           2255 non-null   float64
 5   DISCOUNT        2255 non-null   float64
 6   VAT             2255 non-null   int64
 7   AMOUNT          2255 non-null   float64
 8   PROFIT          2255 non-null   float64
 9   VALUATION       2255 non-null   float64
 10  COST            2255 non-null   float64
 11  SALESTYPE       2255 non-null   object
 12  CASHIER         2255 non-null   object
 13  INV             2255 non-null   int64
 14  IGROUP          2255 non-null   object
 15  CUSTOMERCODE    2255 non-null   object
 16  BRANCHNICKNAME  2255 non-null   object
 17  SUPPLIERCODE    2251 non-null   object
 18  SUPPLIER        2158 non-null   object
 19  PROCESSBY       2253 non-null   object
 20  ORDERBY         2253 non-null   object
 21  SALESPOINT      2255 non-null   object
 22  PARTICULAR      1091 non-null   object
dtypes: float64(7), int64(2), object(14)
memory usage: 405.3+ KB

In [9]:
df.head()

,DATE,ITEMCODE,DESCRIPTION,QTY,PRICE,DISCOUNT,VAT,AMOUNT,PROFIT,VALUATION,...,INV,IGROUP,CUSTOMERCODE,BRANCHNICKNAME,SUPPLIERCODE,SUPPLIER,PROCESSBY,ORDERBY,SALESPOINT,PARTICULAR
0,May 24 2022 12:53P,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117563,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,RUTH,RUTH,server,9756
1,May 24 2022 12:42P,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,2.0,210.0,0.0,0,420.0,95.00,325.00,...,117556,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,928
2,May 24 2022 11:51A,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,6.0,210.0,0.0,0,1260.0,285.00,975.00,...,117514,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,9364
3,May 24 2022 11:31A,'5449000143419,SCHWEPPES PINEAPPLE CAN 330CL,1.0,210.0,0.0,0,210.0,47.50,162.50,...,117502,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,NaN
4,May 24 2022 11:15A,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117492,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,NaN

In [10]:
df['DATE'] = df['DATE'].str.replace("  "," ")
df['TIME'] = df['DATE'].str.split(expand=True)[3]
df['TIME'] = df['TIME'].str.replace('P','PM')
df['TIME'] = df['TIME'].str.replace('A','AM')

df.drop('PROCESSBY',inplace=True,axis=1)
df.drop('ORDERBY',inplace=True,axis=1)
df.drop('PARTICULAR',inplace=True,axis=1)
df.drop('SUPPLIER',inplace=True,axis=1)
df.drop('CUSTOMERCODE',inplace=True,axis=1)
df.drop('SALESTYPE',inplace=True,axis=1)
df.drop('SALESPOINT',inplace=True,axis=1)
df.drop('VAT',inplace=True,axis=1)

In [11]:
df.head()

,DATE,ITEMCODE,DESCRIPTION,QTY,PRICE,DISCOUNT,AMOUNT,PROFIT,VALUATION,COST,CASHIER,INV,IGROUP,BRANCHNICKNAME,SUPPLIERCODE,TIME
0,May 24 2022 12:53P,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,160.0,39.17,120.83,120.83,RUTH,117563,WATER,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,12:53PM
1,May 24 2022 12:42P,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,2.0,210.0,0.0,420.0,95.00,325.00,162.50,VIVIAN,117556,CSD,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,12:42PM
2,May 24 2022 11:51A,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,6.0,210.0,0.0,1260.0,285.00,975.00,162.50,STELLA,117514,CSD,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,11:51AM
3,May 24 2022 11:31A,'5449000143419,SCHWEPPES PINEAPPLE CAN 330CL,1.0,210.0,0.0,210.0,47.50,162.50,162.50,STELLA,117502,CSD,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,11:31AM
4,May 24 2022 11:15A,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,160.0,39.17,120.83,120.83,VIVIAN,117492,WATER,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,11:15AM

In [12]:
def getColumnDtypes(dataTypes):
    dataList = []
    for x in dataTypes:
        if(x == 'int64'):
            dataList.append('int')
        elif (x == 'float64'):
            dataList.append('float')
        elif (x == 'bool'):
            dataList.append('boolean')
        else:
            dataList.append('varchar(255)')
    return dataList

columnDataType = getColumnDtypes(df.dtypes)

In [13]:
columnName = list(df.columns.values)
columnName

['DATE',
 'ITEMCODE',
 'DESCRIPTION',
 'QTY',
 'PRICE',
 'DISCOUNT',
 'AMOUNT',
 'PROFIT',
 'VALUATION',
 'COST',
 'CASHIER',
 'INV',
 'IGROUP',
 'BRANCHNICKNAME',
 'SUPPLIERCODE',
 'TIME']

In [14]:
# Create Table statement for MySQL_funcs

createTableStatement = 'CREATE TABLE if not exists sales1 ('
for i in range(len(columnDataType)):
    createTableStatement = createTableStatement + '\n' + columnName[i] + ' ' + columnDataType[i] + ','
createTableStatement = createTableStatement[:-1] + ' );'

In [15]:
createTableStatement

'CREATE TABLE if not exists sales1 (\nDATE varchar(255),\nITEMCODE varchar(255),\nDESCRIPTION varchar(255),\nQTY float,\nPRICE float,\nDISCOUNT float,\nAMOUNT float,\nPROFIT float,\nVALUATION float,\nCOST float,\nCASHIER varchar(255),\nINV int,\nIGROUP varchar(255),\nBRANCHNICKNAME varchar(255),\nSUPPLIERCODE varchar(255),\nTIME varchar(255) );'

In [16]:
myf.read_query(connection,createTableStatement)

Query Successful

[]