In [2]:
import mysql_funcs as myf
import pandas as pd
import numpy as np
import sqlalchemy as sqa

In [3]:
# Establish server connection for mysql_funcs
passkey = input('Enter server password: ')
connection = myf.create_server_connection('localhost', 'root', passkey)

MySQL Database connection successful

In [4]:
# Establish connection for sqlalchemy
url = f'mysql://root:{passkey}@localhost/buyplus_sales'

engine = sqa.create_engine(url,echo=True)

In [5]:
# Create Database
create_database_query = "CREATE DATABASE if not exists buyplus_sales"
myf.create_database(connection, create_database_query)

Database created successfully

In [21]:
#Connect to Database
connection = myf.create_db_connection("localhost",'root',passkey,'buyplus_sales')

MySQL Database connection successful

In [7]:
query = "SELECT * FROM sales_data"
myf.read_query(connection,query)

Query Successful

[]

In [8]:
df = pd.read_excel("C:\\Users\\kevez\\OneDrive\\Documents\\COMPANIES\\BUYPLUS - PONITEC\\DAILLY SALES\\MAY 2022\\Sales Data - 24MAY2022.xlsx")
df.head()

,DATE,ITEMCODE,DESCRIPTION,QTY,PRICE,DISCOUNT,VAT,AMOUNT,PROFIT,VALUATION,...,INV,IGROUP,CUSTOMERCODE,BRANCHNICKNAME,SUPPLIERCODE,SUPPLIER,PROCESSBY,ORDERBY,SALESPOINT,PARTICULAR
0,May 24 2022 12:53P,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117563,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,RUTH,RUTH,server,9756
1,May 24 2022 12:42P,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,2.0,210.0,0.0,0,420.0,95.00,325.00,...,117556,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,928
2,May 24 2022 11:51A,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,6.0,210.0,0.0,0,1260.0,285.00,975.00,...,117514,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,9364
3,May 24 2022 11:31A,'5449000143419,SCHWEPPES PINEAPPLE CAN 330CL,1.0,210.0,0.0,0,210.0,47.50,162.50,...,117502,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,NaN
4,May 24 2022 11:15A,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117492,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255 entries, 0 to 2254
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            2255 non-null   object
 1   ITEMCODE        2255 non-null   object
 2   DESCRIPTION     2255 non-null   object
 3   QTY             2255 non-null   float64
 4   PRICE           2255 non-null   float64
 5   DISCOUNT        2255 non-null   float64
 6   VAT             2255 non-null   int64
 7   AMOUNT          2255 non-null   float64
 8   PROFIT          2255 non-null   float64
 9   VALUATION       2255 non-null   float64
 10  COST            2255 non-null   float64
 11  SALESTYPE       2255 non-null   object
 12  CASHIER         2255 non-null   object
 13  INV             2255 non-null   int64
 14  IGROUP          2255 non-null   object
 15  CUSTOMERCODE    2255 non-null   object
 16  BRANCHNICKNAME  2255 non-null   object
 17  SUPPLIERCODE    2251 non-null   object
 18  SUPPLIER        2158 non-null   object
 19  PROCESSBY       2253 non-null   object
 20  ORDERBY         2253 non-null   object
 21  SALESPOINT      2255 non-null   object
 22  PARTICULAR      1091 non-null   object
dtypes: float64(7), int64(2), object(14)
memory usage: 405.3+ KB

In [10]:
def getColumnDtypes(dataTypes):
    dataList = []
    for x in dataTypes:
        if(x == 'int64'):
            dataList.append('int')
        elif (x == 'float64'):
            dataList.append('float')
        elif (x == 'bool'):
            dataList.append('boolean')
        else:
            dataList.append('varchar(255)')
    return dataList

columnDataType = getColumnDtypes(df.dtypes)

In [11]:
columnName = list(df.columns.values)
columnName

['DATE',
 'ITEMCODE',
 'DESCRIPTION',
 'QTY',
 'PRICE',
 'DISCOUNT',
 'VAT',
 'AMOUNT',
 'PROFIT',
 'VALUATION',
 'COST',
 'SALESTYPE',
 'CASHIER',
 'INV',
 'IGROUP',
 'CUSTOMERCODE',
 'BRANCHNICKNAME',
 'SUPPLIERCODE',
 'SUPPLIER',
 'PROCESSBY',
 'ORDERBY',
 'SALESPOINT',
 'PARTICULAR']

In [12]:
# Create Table statement for MySQL_funcs

createTableStatement = 'CREATE TABLE if not exists sales ('
for i in range(len(columnDataType)):
    createTableStatement = createTableStatement + '\n' + columnName[i] + ' ' + columnDataType[i] + ','
createTableStatement = createTableStatement[:-1] + ' );'

In [13]:
createTableStatement

'CREATE TABLE if not exists sales (\nDATE varchar(255),\nITEMCODE varchar(255),\nDESCRIPTION varchar(255),\nQTY float,\nPRICE float,\nDISCOUNT float,\nVAT int,\nAMOUNT float,\nPROFIT float,\nVALUATION float,\nCOST float,\nSALESTYPE varchar(255),\nCASHIER varchar(255),\nINV int,\nIGROUP varchar(255),\nCUSTOMERCODE varchar(255),\nBRANCHNICKNAME varchar(255),\nSUPPLIERCODE varchar(255),\nSUPPLIER varchar(255),\nPROCESSBY varchar(255),\nORDERBY varchar(255),\nSALESPOINT varchar(255),\nPARTICULAR varchar(255) );'

In [25]:
query = 'SELECT * FROM sales1 LIMIT 10'
myf.read_query(connection,query)

Query Successful

[('May 24 2022 12:53P',
  "'5449000129383",
  'EVA TABLE WATER 1.5L',
  1.0,
  160.0,
  0.0,
  0,
  160.0,
  39.17,
  120.83,
  120.83,
  'CASH',
  'RUTH',
  117563,
  'WATER',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'RUTH',
  'RUTH',
  'server',
  '9756'),
 ('May 24 2022 12:42P',
  "'5449000268686",
  'SCHWEPPES CHAPMAN CAN 330CL',
  2.0,
  210.0,
  0.0,
  0,
  420.0,
  95.0,
  325.0,
  162.5,
  'CASH',
  'VIVIAN',
  117556,
  'CSD',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'VIVIAN',
  'VIVIAN',
  'server',
  '928'),
 ('May 24 2022 11:51A',
  "'5449000268686",
  'SCHWEPPES CHAPMAN CAN 330CL',
  6.0,
  210.0,
  0.0,
  0,
  1260.0,
  285.0,
  975.0,
  162.5,
  'CASH',
  'STELLA',
  117514,
  'CSD',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'STELLA',
  'STELLA',
  'POS6',
  '9364'),
 ('May 24 2022 11:31A',
  "'5449000143419",
  'SCHWEPPES PINEAPPLE CAN 330CL',
  1.0,
  210.0,
  0.0,
  0,
  210.0,
  47.5,
  162.5,
  162.5,
  'CASH',
  'STELLA',
  117502,
  'CSD',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'STELLA',
  'STELLA',
  'POS6',
  None),
 ('May 24 2022 11:15A',
  "'5449000129383",
  'EVA TABLE WATER 1.5L',
  1.0,
  160.0,
  0.0,
  0,
  160.0,
  39.17,
  120.83,
  120.83,
  'CASH',
  'VIVIAN',
  117492,
  'WATER',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'VIVIAN',
  'VIVIAN',
  'server',
  None),
 ('May 24 2022 10:12A',
  "'5449000129383",
  'EVA TABLE WATER 1.5L',
  1.0,
  160.0,
  0.0,
  0,
  160.0,
  39.17,
  120.83,
  120.83,
  'CASH',
  'RUTH',
  117461,
  'WATER',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'RUTH',
  'RUTH',
  'server',
  '412'),
 ('May 24 2022 9:55P',
  "'5449000129383",
  'EVA TABLE WATER 1.5L',
  1.0,
  160.0,
  0.0,
  0,
  160.0,
  39.17,
  120.83,
  120.83,
  'CASH',
  'PRECIOUS',
  117999,
  'WATER',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'PRECIOUS',
  'PRECIOUS',
  'POS1',
  None),
 ('May 24 2022 9:34A',
  "'6154000226282",
  'DABUR MDM HW SPRINGF 500ML',
  1.0,
  1190.0,
  0.0,
  0,
  1190.0,
  238.24,
  951.76,
  951.76,
  'CASH',
  'VIVIAN',
  116564,
  'HAND WASH',
  'CASH',
  'PONITEC MARKETS',
  'FAREAST MERCHANTILE COMPANY LIMTED',
  'FAREAST MERCHANTILE COMPANY LIMTED',
  'VIVIAN',
  'VIVIAN',
  'server',
  '9122'),
 ('May 24 2022 9:01P',
  "'8718951291010",
  'COLGATE MAXFRESH COOLMINT 100 ML - FGX1538601',
  1.0,
  825.0,
  0.0,
  0,
  825.0,
  386.0,
  439.0,
  439.0,
  'CASH',
  'NENGI',
  118077,
  'ORAL CARE',
  'CASH',
  'PONITEC MARKETS',
  'MULTIPRO CONSUMER PRODUCTS LIMITED',
  'MULTIPRO CONSUMER PRODUCTS LTD.',
  'NENGI',
  'NENGI',
  'POS5',
  '3910'),
 ('May 24 2022 8:34A',
  "'5449000129383",
  'EVA TABLE WATER 1.5L',
  1.0,
  160.0,
  0.0,
  0,
  160.0,
  39.17,
  120.83,
  120.83,
  'CASH',
  'VIVIAN',
  115756,
  'WATER',
  'CASH',
  'PONITEC MARKETS',
  'NIGERIAN BOTTLING CO LTD',
  'NIGERIAN BOTTLING CO. LTD.',
  'VIVIAN',
  'VIVIAN',
  'server',
  '4018')]

In [18]:
df.to_sql('sales1',engine,index=False)

2022-06-22 09:55:14,448 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-06-22 09:55:14,449 INFO sqlalchemy.engine.Engine [cached since 316s ago] ('buyplus_sales', 'sales1')
2022-06-22 09:55:14,451 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-22 09:55:14,453 INFO sqlalchemy.engine.Engine
CREATE TABLE sales1 (
	`DATE` TEXT,
	`ITEMCODE` TEXT,
	`DESCRIPTION` TEXT,
	`QTY` FLOAT(53),
	`PRICE` FLOAT(53),
	`DISCOUNT` FLOAT(53),
	`VAT` BIGINT,
	`AMOUNT` FLOAT(53),
	`PROFIT` FLOAT(53),
	`VALUATION` FLOAT(53),
	`COST` FLOAT(53),
	`SALESTYPE` TEXT,
	`CASHIER` TEXT,
	`INV` BIGINT,
	`IGROUP` TEXT,
	`CUSTOMERCODE` TEXT,
	`BRANCHNICKNAME` TEXT,
	`SUPPLIERCODE` TEXT,
	`SUPPLIER` TEXT,
	`PROCESSBY` TEXT,
	`ORDERBY` TEXT,
	`SALESPOINT` TEXT,
	`PARTICULAR` TEXT
)


2022-06-22 09:55:14,454 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2022-06-22 09:55:14,502 INFO sqlalchemy.engine.Engine COMMIT
2022-06-22 09:55:14,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-22 09:55:14,595 INFO sqlalchemy.engine.Engine INSERT INTO sales1 (`DATE`, `ITEMCODE`, `DESCRIPTION`, `QTY`, `PRICE`, `DISCOUNT`, `VAT`, `AMOUNT`, `PROFIT`, `VALUATION`, `COST`, `SALESTYPE`, `CASHIER`, `INV`, `IGROUP`, `CUSTOMERCODE`, `BRANCHNICKNAME`, `SUPPLIERCODE`, `SUPPLIER`, `PROCESSBY`, `ORDERBY`, `SALESPOINT`, `PARTICULAR`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2022-06-22 09:55:14,596 INFO sqlalchemy.engine.Engine [generated in 0.01848s] (('May 24 2022 12:53P', "'5449000129383", 'EVA TABLE WATER 1.5L', 1.0, 160.0, 0.0, 0, 160.0, 39.17, 120.83, 120.83, 'CASH', 'RUTH', 117563, 'WATER', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'RUTH', 'RUTH', 'server', 9756), ('May 24 2022 12:42P', "'5449000268686", 'SCHWEPPES CHAPMAN CAN 330CL', 2.0, 210.0, 0.0, 0, 420.0, 95.0, 325.0, 162.5, 'CASH', 'VIVIAN', 117556, 'CSD', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'VIVIAN', 'VIVIAN', 'server', 928), ('May 24 2022 11:51A', "'5449000268686", 'SCHWEPPES CHAPMAN CAN 330CL', 6.0, 210.0, 0.0, 0, 1260.0, 285.0, 975.0, 162.5, 'CASH', 'STELLA', 117514, 'CSD', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'STELLA', 'STELLA', 'POS6', 9364), ('May 24 2022 11:31A', "'5449000143419", 'SCHWEPPES PINEAPPLE CAN 330CL', 1.0, 210.0, 0.0, 0, 210.0, 47.5, 162.5, 162.5, 'CASH', 'STELLA', 117502, 'CSD', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'STELLA', 'STELLA', 'POS6', None), ('May 24 2022 11:15A', "'5449000129383", 'EVA TABLE WATER 1.5L', 1.0, 160.0, 0.0, 0, 160.0, 39.17, 120.83, 120.83, 'CASH', 'VIVIAN', 117492, 'WATER', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'VIVIAN', 'VIVIAN', 'server', None), ('May 24 2022 10:12A', "'5449000129383", 'EVA TABLE WATER 1.5L', 1.0, 160.0, 0.0, 0, 160.0, 39.17, 120.83, 120.83, 'CASH', 'RUTH', 117461, 'WATER', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'RUTH', 'RUTH', 'server', 412), ('May 24 2022 9:55P', "'5449000129383", 'EVA TABLE WATER 1.5L', 1.0, 160.0, 0.0, 0, 160.0, 39.17, 120.83, 120.83, 'CASH', 'PRECIOUS', 117999, 'WATER', 'CASH', 'PONITEC MARKETS', 'NIGERIAN BOTTLING CO LTD', 'NIGERIAN BOTTLING CO. LTD.', 'PRECIOUS', 'PRECIOUS', 'POS1', None), ('May 24 2022 9:34A', "'6154000226282", 'DABUR MDM HW SPRINGF 500ML', 1.0, 1190.0, 0.0, 0, 1190.0, 238.24, 951.76, 951.76, 'CASH', 'VIVIAN', 116564, 'HAND WASH', 'CASH', 'PONITEC MARKETS', 'FAREAST MERCHANTILE COMPANY LIMTED', 'FAREAST MERCHANTILE COMPANY LIMTED', 'VIVIAN', 'VIVIAN', 'server', 9122)  ... displaying 10 of 2255 total bound parameter sets ...  ('May 24 2022 1:04P', "'6156000141817", 'LAZIZ PURE VEGETABLE OIL 3L', 1.0, 5750.0, 0.0, 0, 5750.0, 1333.33, 4416.67, 4416.67, 'CASH', 'VIVIAN', 117570, 'OIL', 'CASH', 'PONITEC MARKETS', 'BRIGHT-EMMACHRIS NIG', 'BRIGHT-EMMACHRIS NIG LTD.', 'VIVIAN', 'VIVIAN', 'server', 8306), ('May 24 2022 1:01P', "'6034000005004", 'PEPSI COLA PET 50CL', 1.0, 150.0, 0.0, 0, 150.0, 26.0, 124.0, 124.0, 'CASH', 'VIVIAN', 117566, 'CSD', 'CASH', 'PONITEC MARKETS', 'SEVEN-UP BOTTLING COMPANY LTD', 'SEVEN-UP BOTTLING COMPANY LTD.', 'VIVIAN', 'VIVIAN', 'server', None))
2022-06-22 09:55:14,778 INFO sqlalchemy.engine.Engine COMMIT