In [1]:
import mysql_funcs as myf
import pandas as pd
import numpy as np

In [2]:
# Establish server connection
passkey = input('Enter server password: ')
connection = myf.create_server_connection('localhost', 'root', passkey)

MySQL Database connection successful

In [3]:
# Create Database
create_database_query = "CREATE DATABASE if not exists buyplus_sales"
myf.create_database(connection, create_database_query)

Database created successfully

In [4]:
#Connect to Database
connection = myf.create_db_connection("localhost",'root',passkey,'buyplus_sales')

MySQL Database connection successful

In [5]:
query = "SELECT * FROM sales_data"
myf.read_query(connection,query)

[]

In [6]:
df = pd.read_excel("C:\\Users\\kevez\\OneDrive\\Documents\\COMPANIES\\BUYPLUS - PONITEC\\DAILLY SALES\\MAY 2022\\Sales Data - 24MAY2022.xlsx")
df.head()

,DATE,ITEMCODE,DESCRIPTION,QTY,PRICE,DISCOUNT,VAT,AMOUNT,PROFIT,VALUATION,...,INV,IGROUP,CUSTOMERCODE,BRANCHNICKNAME,SUPPLIERCODE,SUPPLIER,PROCESSBY,ORDERBY,SALESPOINT,PARTICULAR
0,May 24 2022 12:53P,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117563,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,RUTH,RUTH,server,9756
1,May 24 2022 12:42P,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,2.0,210.0,0.0,0,420.0,95.00,325.00,...,117556,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,928
2,May 24 2022 11:51A,'5449000268686,SCHWEPPES CHAPMAN CAN 330CL,6.0,210.0,0.0,0,1260.0,285.00,975.00,...,117514,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,9364
3,May 24 2022 11:31A,'5449000143419,SCHWEPPES PINEAPPLE CAN 330CL,1.0,210.0,0.0,0,210.0,47.50,162.50,...,117502,CSD,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,STELLA,STELLA,POS6,NaN
4,May 24 2022 11:15A,'5449000129383,EVA TABLE WATER 1.5L,1.0,160.0,0.0,0,160.0,39.17,120.83,...,117492,WATER,CASH,PONITEC MARKETS,NIGERIAN BOTTLING CO LTD,NIGERIAN BOTTLING CO. LTD.,VIVIAN,VIVIAN,server,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255 entries, 0 to 2254
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            2255 non-null   object
 1   ITEMCODE        2255 non-null   object
 2   DESCRIPTION     2255 non-null   object
 3   QTY             2255 non-null   float64
 4   PRICE           2255 non-null   float64
 5   DISCOUNT        2255 non-null   float64
 6   VAT             2255 non-null   int64
 7   AMOUNT          2255 non-null   float64
 8   PROFIT          2255 non-null   float64
 9   VALUATION       2255 non-null   float64
 10  COST            2255 non-null   float64
 11  SALESTYPE       2255 non-null   object
 12  CASHIER         2255 non-null   object
 13  INV             2255 non-null   int64
 14  IGROUP          2255 non-null   object
 15  CUSTOMERCODE    2255 non-null   object
 16  BRANCHNICKNAME  2255 non-null   object
 17  SUPPLIERCODE    2251 non-null   object
 18  SUPPLIER        2158 non-null   object
 19  PROCESSBY       2253 non-null   object
 20  ORDERBY         2253 non-null   object
 21  SALESPOINT      2255 non-null   object
 22  PARTICULAR      1091 non-null   object
dtypes: float64(7), int64(2), object(14)
memory usage: 405.3+ KB

In [8]:
def getColumnDtypes(dataTypes):
    dataList = []
    for x in dataTypes:
        if(x == 'int64'):
            dataList.append('int')
        elif (x == 'float64'):
            dataList.append('float')
        elif (x == 'bool'):
            dataList.append('boolean')
        else:
            dataList.append('varchar(255)')
    return dataList

columnDataType = getColumnDtypes(df.dtypes)

In [9]:
columnName = list(df.columns.values)
columnName

['DATE',
 'ITEMCODE',
 'DESCRIPTION',
 'QTY',
 'PRICE',
 'DISCOUNT',
 'VAT',
 'AMOUNT',
 'PROFIT',
 'VALUATION',
 'COST',
 'SALESTYPE',
 'CASHIER',
 'INV',
 'IGROUP',
 'CUSTOMERCODE',
 'BRANCHNICKNAME',
 'SUPPLIERCODE',
 'SUPPLIER',
 'PROCESSBY',
 'ORDERBY',
 'SALESPOINT',
 'PARTICULAR']

In [10]:
createTableStatement = 'CREATE TABLE if not exists sales_data ('
for i in range(len(columnDataType)):
    createTableStatement = createTableStatement + '\n' + columnName[i] + ' ' + columnDataType[i] + ','
createTableStatement = createTableStatement[:-1] + ' );'

In [11]:
createTableStatement

'CREATE TABLE if not exists sales_data (\nDATE varchar(255),\nITEMCODE varchar(255),\nDESCRIPTION varchar(255),\nQTY float,\nPRICE float,\nDISCOUNT float,\nVAT int,\nAMOUNT float,\nPROFIT float,\nVALUATION float,\nCOST float,\nSALESTYPE varchar(255),\nCASHIER varchar(255),\nINV int,\nIGROUP varchar(255),\nCUSTOMERCODE varchar(255),\nBRANCHNICKNAME varchar(255),\nSUPPLIERCODE varchar(255),\nSUPPLIER varchar(255),\nPROCESSBY varchar(255),\nORDERBY varchar(255),\nSALESPOINT varchar(255),\nPARTICULAR varchar(255) );'

In [13]:
myf.read_query(connection,query)

[]